<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;" class="bg-[#F7F7F7] dark:bg-slate-800">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix={Application.get_env(:chatgpt, :title)}>
      <%= assigns[:page_title] || "" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-[#F7F7F7] dark:bg-slate-800">
		<header class="navbar bg-base-100">
		  <a href="/" class="btn btn-ghost normal-case text-xl">
		    <%= assigns[:page_title] || Application.get_env(:chatgpt, :title) %>
		  </a>
		</header>
    <div class="container mx-auto bg-[#F7F7F7] dark:bg-slate-800">
      <%= @inner_content %>
    </div>
  </body>
</html>
