<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;" class="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix={Application.get_env(:chatgpt, :title)}>
      <%= assigns[:page_title] || "" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="">
    <div class="drawer md:drawer-open">
      <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />

      <div class="drawer-content z-50 md:z-20">
        <div class="
  sticky top-0 z-30 flex h-16 w-full justify-center backdrop-blur transition-all duration-100
  text-base-content shadow-sm
  ">
          <header class="navbar">
            <div class="navbar-center flex">
              <div class="flex-none lg:block">
                <ul class="menu menu-horizontal">
                  <li>
                    <details>
                      <summary>
                        Model: <%= Enum.find(
                          assigns[:models],
                          &(&1.id == String.to_atom(assigns[:model]))
                        ).name %>
                      </summary>

                      <ul class="p-2 z-10 bg-base-100">
                        <%= for {model, name} <- Enum.map(assigns[:models], & {&1.id, &1.name}) do %>
                          <li>
                            <.link navigate={
                              URI.parse(assigns.conn.request_path)
                              |> URI.append_query("model=#{model}")
                              |> URI.to_string()
                            }>
                              <%= name %>
                            </.link>
                          </li>
                        <% end %>
                      </ul>
                    </details>
                  </li>
                </ul>
              </div>
            </div>
          </header>
        </div>

        <div class="mx-6  ">
          <%= @inner_content %>
        </div>
      </div>

      <div class="drawer-side z-40 bg-[#F9F9F9] dark:bg-[#171717]">
        <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>

        <aside class="w-72 ">
          <div class="navbar">
            <a href="/" class="btn btn-ghost normal-case text-xl">
              <%= assigns[:page_title] || Application.get_env(:chatgpt, :title) %>
            </a>
          </div>

          <div class="h-4"></div>

          <ul class="menu rounded-box">
            <li class="">
              <.link
                class={Map.get(assigns, :mode, :chat) == :chat && "active"}
                navigate={~p"/chat"}
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 011.037-.443 48.282 48.282 0 005.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"
                  />
                </svg>
                Chat
              </.link>
            </li>
            <li>
              <div class="h-4"></div>
              <h2 class="menu-title">Scenarios</h2>
              <ul>
                <%= for scenario <- assigns[:scenarios]  do %>
                  <li>
                    <.link
                      class={"#{active_scenario(Map.get(assigns, :scenario, nil), scenario)}"}
                      navigate={~p"/scenario/#{scenario.id}"}
                    >
                      <%= scenario.name %>
                    </.link>
                  </li>
                <% end %>
              </ul>
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </body>
</html>
