<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix={Application.get_env(:chatgpt, :title)}>
      <%= assigns[:page_title] || "" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="">
    <header class="bg-white p-2">
      <div class="container mx-auto">
        <h1 class="text-xl">
          <%= assigns[:page_title] || Application.get_env(:chatgpt, :title) %>
        </h1>
      </div>
    </header>
    <div class="container mx-auto">
      <%= @inner_content %>
    </div>
  </body>
</html>
