<div>
  <h2 class="text-xl">Home</h2>
  <p>I am home, I am rendered through controllers/page_controller.ex</p>

  <a class="underline block text-blue-700" href={~p"/live"}>Go to Live View</a>
  <a class="underline block text-blue-700" href={~p"/livecontroller"}>
    Go to Live View, but rendered through controllers/page_controller.ex
  </a>
</div>
